#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebar {
  z-index: 1000;
  position: fixed;
  left: 200px;
  width: 0;
  height: 100%;
  margin-left: -200px;
  overflow-y: auto;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#wrapper.toggled .sidebar {
  width: 200px;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #content-wrapper {
  position: absolute;
  padding-left: 200px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #616161;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #757575;
  background: #DDD;
}
